body .card-body {
	width: 100%;
	background: #10375c;
}

body .card {
	width: 50%;
}

body .miniProfileFont {
	color: #f3c623;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	text-align: left;
	font-size: 40px;
	margin: 30px 0 0 0;
	padding: 0 0 0 40px;
	letter-spacing: 1px;
}

form {
	padding: 20px 0;
	position: relative;
	z-index: 2;
}
form input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: 0;
	border: 1px solid rgba(255, 255, 255, 0.4);
	background-color: rgba(255, 255, 255, 0.2);
	width: 250px;
	border-radius: 3px;
	padding: 10px 15px;
	margin: 0 auto 10px auto;
	display: block;
	text-align: center;
	font-size: 18px;
	color: white;
	-webkit-transition-duration: 0.25s;
	transition-duration: 0.25s;
	font-weight: 300;
}
form input:hover {
	background-color: rgba(255, 255, 255, 0.4);
}
form input:focus {
	background-color: white;
	width: 300px;
	color: #f3c623;
}
form button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: 0;
	background-color: white;
	border: 0;
	padding: 10px 15px;
	color: #10375c;
	border-radius: 3px;
	width: 250px;
	cursor: pointer;
	font-size: 18px;
	-webkit-transition-duration: 0.25s;
	transition-duration: 0.25s;
}
form button:hover {
	background-color: #f3c623;
}
