.title{
   font-size: 1rem;
}
.body{
   padding:5px;
}
.card{
   background-color: #9fedd7;
   max-width: 300px;
   margin: auto;
   margin-top:15%;
   border: 1px solid #f4f6ff;
   padding:20px;
   overflow: auto;
   border-radius: 5px;
}