
body{
  font-family:"Open Sans";
}

#map {
  height: 100%;
  width: 100vw;
}

 /* .wrapper {
   background: white
 } */

  /* .wrapper {
   background: -webkit-gradient(linear, left top, right bottom, from(#127681), to(#10375c));
   background: linear-gradient(to bottom right, #127681 0%, #10375c 100%);
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   overflow: auto;
opacity: .6
  } */






















.spin {
  animation: App-logo-spin infinite 2s linear;
}
.loading{
  animation: App-loading infinite 3s linear;
  pointer-events: none;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes App-loading {
  0% {
     opacity: 0.1;
  }
  25%{
    opacity: 0.8;
  }
  50%{
    opacity: 0.1;
  }
  75%{
    opacity: 0.8;
  }
  100% {
    opacity: 0.1;
  }
}

/* fonts */
/* font-family: 'Yellowtail' */
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
/* font-family: 'Open Sans' */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');